@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.variable-proximity {
  font-family: 'Cinzel', serif;
}

.variable-proximity.fire-text {
  color: #990000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
